* {margin: 0;padding: 0;}
/*scroll*/
::-webkit-scrollbar {width: 10px;}
::-webkit-scrollbar-track {background-color: white;}
::-webkit-scrollbar-thumb {background-color: rgba(0, 0, 0, 0.2);}
/* this is header */
.header-app {
    background-color: #ecf0f1;
    position: fixed;
    top: 0;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: absolute;
}
.div-header-row {
    width: 40%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img-logo {
    width: 200px;
    height: 100px;
    margin-top: 15px;
}
.div-header-row1 {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center
}
.menu-options {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}
.a-item-menu a {
    color: #555;
    font-family: 'Roboto';
    font-weight: bold;
    font-weight: 900;
    font-size: 15px;
    transition: .5s all ease-out;
}
.a-item-menu a:hover {
    color: tomato;
    padding-bottom: 15px;
    border-bottom: 2px solid tomato;
    transition: .5s all ease-out;
    text-decoration: none;
}
/* finheader */
/* init content1 */
.div-content1 {
    background-image: url("../images/imagen-min.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;
}
/* text */
.div-text-content {
    content: '';
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 160px;
    color: white;
    margin-left: 150px;
    font-family: 'Roboto';
}
.div-father-text h1 {
    margin-top: 200px;
    color: white;
    font-size: 9vh;
    font-family: 'Roboto';
    font-weight: bold;
    font-weight: 900;
}
/*seguidor*/
.seguidor,
.seguidor2 {
    position: fixed;
    z-index: 1000;
    left: 98%;
    width: 20px;
    height: 364px;
    top: 65%;
    transform: translateY(-50%);
}
.seguidor2 {
    top: 70%;
}
.bolita1 {
    width: 17px;
    height: 17px;
    border: 2px solid silver;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
    transition: .4s all;
}
.bolita2 {
    width: 10px;
    height: 10px;
    background: silver;
    border-radius: 50%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 25px;
}
/* fin seguidor */
/* fin content1 */
/* init content 2 */
.div-content2 {
    width: 100%;
    background-color: #ecf0f1;
    height: 1600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div-father-content2 {
    background: black;
    width: 80%;
    height: 550px;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-row-content {
    background-image: url("https://static.pexels.com/photos/7376/startup-photos.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 50%;
    height: 550px;
}
.div-row-content1 {
    background-color: white;
    width: 50%;
    height: 550px;
}
/* target */
.h1-content2 {
    margin-top: 25px;
    font-size: 7vh;
    color: #333;
    font-family: 'Roboto';
    font-weight: bold;
    font-weight: 900;
    margin-bottom: 100px;
    margin-left: 35px;
}
.div-father-h1 {
    width: 25%;
}
.div-row-content1 h4 {
    color: #333;
    font-size: 20px;
    font-weight: bold;
    font-weight: 900;
    font-family: 'Roboto';
    text-align: left;
    margin-left: 60px;
}
.div-line {
    background: #056872;
    width: 15%;
    height: 3px;
    margin-top: 15px;
    margin-left: 25px;
}
.div-father-p {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 25px;
}
.div-father-p p {
    color: #555;
    font-family: 'Roboto';
    font-size: 20px;
}
.a-knowmore-content2 {
    margin-left: 60px;
    padding: 17px;
    background: none;
    color: silver;
    border: 3px solid silver;
    font-family: 'Roboto';
    font-weight: bold;
    font-weight: 900;
    font-size: 3vh;
    transition: .5s all ease-in-out;
}
.a-knowmore-content2:hover {
    transition: .5s all ease-in-out;
    background: silver;
    color: #555;
    text-decoration: none;
}
/* services */
.div-services-content {
    padding-top: 15px;
    margin-top: 70px;
    width: 100%;
    height: auto;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #2980b9;
    padding-bottom: 50px;
    color: white;
}
.div-service {
    background: none;
    width: 25%;
    height: 380px;
}
.div-service i {
    color: #fff;
    margin-top: 2px;
    margin-left: 25px;
    transition: .5s all ease-in-out;
}
.div-service i:hover {
    transition: .5s all ease-in-out;
    transform: translateX(20%);
    color: #3498db;
}
.div-service h1 {
    font-size: 5vh;
    font-weight: bold;
    font-weight: 900;
    font-family: 'Roboto';
    margin-left: 25px;
}
.div-line-services {
    width: 20%;
    height: 3px;
    background: #fff;
    margin-bottom: 10px;
}
.div-service p {
    width: 80%;
    margin-left: 25px;
    margin-bottom: 35px;
    font-family: 'Roboto';
    color: #fff;
}
.div-service a {
    width: 100%;
    background: none;
    padding: 20px;
    margin-left: 22px;
    background: #3498db;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    font-weight: 900;
    font-family: 'Roboto';
    transition: .5s all ease-in-out;
}
.div-service a:hover {
    transition: .5s all ease-in-out;
    transform: translate(30%);
    text-decoration: none;
    background: #3498db;
    border-radius: 20px;
    color: white;
}
/* content3 */
.div-content3 {
    background-image: url("../images/room.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div-fathertext-title h1 {
    color: white;
    font-family: 'Roboto';
    font-size: 7vh;
    font-weight: bold;
    font-weight: 900;
}
.div-options-content3 {
    display: flex;
    background: none;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-bottom: 2px solid silver;
}
.div-options-content3 div {
    margin: 15px;
    width: 33%;
    margin-bottom: 60px;
}
.div-options-content3 h2 {
    color: #fff;
    margin-left: 25px;
    font-weight: 900;
    font-weight: bold;
    font-family: 'Roboto';
    margin-bottom: 10px;
}
.div-father-aknowmore {
    margin-top: 100px;
    margin-right: 900px;
}
.div-father-aknowmore a {
    background: none;
    padding: 18px;
    color: white;
    border: 2px solid white;
    font-size: 20px;
    font-weight: bold;
    font-weight: 900;
    font-family: 'Roboto';
}
/* conntent4 */
.div-content4 {
    background: #eceef1;
    width: 100%;
    height: 800px;
}
.div-father-content4 {
    display: flex;
    width: 100%;
    margin-top: 125px;
}
.div-son-1-content4 {
    background: #056872;
    width: 40%;
    height: 500px;
}
.div-son-2-content4 {
    margin-top: 140px;
    width: 40%;
    height: 500px;
}
.div-father-h1-title {
    width: 100%;
}
.div-father-h1-title h1 {
    margin-top: 45px;
    color: white;
    margin-left: 25px;
    font-size: 50px;
    font-weight: bold;
    font-weight: 900;
    font-family: 'Roboto';
}
.div-row-content4 {
    width: 100%;
    display: flex;
    padding-left: 65px;
    padding-right: 45px;
    justify-content: space-around;
    align-items: center;
}
.div-row-content4 i {
    color: white;
}
.div-row-content4 i:hover {
    transform: rotate(360deg);
    transition: .7s all ease-in-out;
    color: yellow;
}
.div-row-content4 p {
    width: 60%;
    text-align: center;
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    font-weight: 900;
}
.div-son-2-content4 {
    background: #fff;
}
.div-son-2-content4 h1 {
    width: 40%;
    margin-left: 25px;
    color: #333;
    font-weight: bold;
    font-weight: 900;
    font-family: 'Roboto';
    font-size: 45px;
}
.div-son-2-content4 p {
    width: 80%;
    margin-left: 25px;
    margin-top: 45px;
    font-family: 'Roboto';
    color: #555;
    margin-bottom: 70px;
}
.div-father-acontent4 {
    margin-left: 25px;
    width: 100%;
    height: 60px;
}
.div-father-acontent4 a {
    background: #056872;
    color: white;
    width: 100%;
    padding: 20px;
    font-family: 'Roboto';
    font-weight: bold;
    font-weight: 900;
}
.div-father-acontent4 :hover {
    background: none;
    border: 2px solid #056872;
    transition: .5s all ease-in-out;
    color: #056872;
    text-decoration: none;
}
/*newletterhome*/
.div-new-letter {
    width: 100%;
    height: 660px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-imagen-new {
    position: absolute;
    height: 620px;
    background-image: url('https://static.pexels.com/photos/7075/people-office-group-team.jpg');
    /*background-image: url('../images/banco.jpg');*/
    background-position: center;
    background-size: cover;
    width: 35%;
    margin-top: 100px;
    margin-left: 300px;
    z-index: 2;
    /* border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%; */
}
.div-row-news {
    background: #000;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    flex-direction: column;
    height: 660px;
    position: relative;
    color: white;
    padding-left: 100px;
    text-align: left;
}
.div-row-news h3 {
    content: "";
    margin-top: 120px;
    font-family: 'Open sans';
}
.div-row-news h1 {
    font-family: 'Roboto';
    font-weight: bold;
    font-weight: 900;
    font-size: 50px;
    width: 60%;
    margin-bottom: 50px;
}
.div-row-news p {
    width: 60%;
    font-family: 'Roboto';
}
.div-row-news-2 {
    background: #dadada;
    height: 660px;
    width: 30%;
    position: relative;
}
.form-new {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40px;
}
.div-labels {
    width: 100%;
}
.div-labels label {
    font-family: 'Roboto';
    font-weight: bold;
}
.label2 {
    margin-left: 30%;
}
.input-new {
    margin-left: 10px;
}
.div-inputs {
    display: flex;
    width: 100%;
}
.div-inputs input {
    width: 25%;
    height: 45px;
    border: none;
    color: white;
    background: #262525;
    padding: 10px;
}
.form-new button {
    width: 51%;
    height: 45px;
    background: white;
    color: #262525;
    font-family: 'Roboto';
    font-weight: bold;
    font-weight: 900;
    font-size: 20px;
    border: none;
    transition: .5s all ease-in-out;
}
.div-button-new {
    width: 100%;
    margin-top: 15px;
}
.form-new button:hover {
    background: none;
    border: 2px solid white;
    color: white;
    transition: .5s all ease-in-out;
}
/*  */
.p-text-sentence {
    color: black;
    font-size: 4vh;
    font-weight: bold;
    font-weight: 900;
}
.a-knowmore {
    margin-top: 25px;
    width: 20%;
    font-size: 25px;
    background: #ff9800;
    font-weight: bold;
    font-weight: 900;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6 0px;
    transition: .5s all ease-out;
    transform: 0;
    color: white;
}
.a-knowmore:hover {
    transition: .5s all ease-out;
    background: none;
    border: 2px solid #ff9800;
    text-decoration: none;
    color: #fff;
    border-radius: 20px;
}
.div-offices {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left: 70%
}
.a-branch-office {
    background: white;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 120px;
    color: #ff9800;
    font-size: 18px;
    transition: .5s all;
    font-weight: bold;
}
.a-atm {
    background: #ff9800;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 120px;
    color: white;
    font-size: 18px;
    transition: .5s all;
    font-weight: bold;
}
.a-atm:hover,
.a-branch-office:hover {
    background: none;
    transition: .5s all;
    color: white;
    text-decoration: none;
    border: 2px solid white;
}
/*menufijo*/
.menu-fixed {
    background: #006972;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    transition: .2s all ease-out;
    position: fixed;
}
.item {
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divs-items {
    display: flex;
}
.a-item h1 {
    font-size: 2.5vh;
    font-family: 'Open sans';
    color: white;
    font-weight: bold;
    font-weight: 700;
    transition: .5s all ease-out;
}
.a-item:hover,
.a-item:focus,
.a-item:active {
    text-decoration: none;
    border-bottom: 2px solid #ff9800;
    transition: .5s all ease-out;
}
/*container2*/
.div-container2-ld-soportica {
    height: size;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #333;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
}
.div-title-services {
    display: flex;
}
.h1-services {
    font-size: 9vh;
    font-family: 'Open sans', sans-serif;
    font-weight: bold;
    font-weight: 700;
    padding-right: 15px;
    margin-top: 40px;
}
.h1-insoportica {
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    font-size: 9vh;
    font-weight: 900;
    color: tomato;
    margin-top: 40px;
}
.div-container-inner {
    width: 100%;
}
.div-img-adm {
    width: 50%;
    margin-top: 9vw;
}
.div-img-adm {
    position: fixed;
}
.div-colum1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    flex-direction: column;
    text-align: left;
}
.div-colum1 h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-weight: 900;
    text-align: left;
    font-size: 4vh;
}
.div-a-seemore {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.a-seemore {
    width: 40%;
    font-weight: bold;
    background: none;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin-top: 10px;
    background: tomato;
    transition: .5s all ease-out;
}
.a-seemore:hover {
    background: white;
    transition: .5s all ease-out;
    text-decoration: none;
}
/*contenedor3*/
.div-container3-ld-soportica {
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-image: url('http://www.soportica.com.co/uploads/cabezotes/cabezote_servicios.jpg');
    /*background-image: url('../images/banco.jpg');*/
    background-position: center;
    background-size: cover;
    color: white;
    font-family: 'Roboto';
    font-size: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    flex-direction: column;
}
.a-content3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.a-c3 {
    background: #006972;
    padding: 18px;
    font-size: 20px;
    display: flex;
    font-weight: bold;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    color: white;
    margin-top: 25px;
    transition: .5s all ease-out;
    font-family: 'Roboto';
}
.a-c3:hover {
    transition: .5s all ease-out;
    text-decoration: none;
    color: white;
}
/*fincontenedor3*/
.div-row1-ld {
    background: black;
    /*background-image: url('../images/projects/project01.jpg');*/
    background-size: cover;
    background-position: right;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-row1-ld h1 {
    font-size: 9vh;
    text-align: center;
    color: #fff;
    font-weight: bold;
    font-weight: 900;
    font-family: 'Roboto';
}
.div-row2-ld {
    text-align: center;
    color: #757575;
}
.h1-projects-play {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-weight: 900;
    color: #333;
}
/*projects*/
.div-container-projects {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    cursor: pointer;
    font-family: 'Roboto';
}
.div-head {
    width: 100%;
    background: white;
    color: #757575;
    height: size;
    transition: .5s ease-out;
    border-radius: 2px;
}
.div-head:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: .5s all ease-out;
}
.div-des-project {
    margin-top: -2em;
    width: 100%;
    background: #3f51b5;
    border-radius: 2px;
    color: white;
    height: 100px;
}
.div-circle-project img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    margin-top: 10px;
}
.div-info-project {
    padding-bottom: 5px;
}
.div-optionsrow1,
.div-optionsrow2 {
    background-image: url('../images/innovate.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 89.9vh;
    color: white;
    font-family: 'Roboto';
    align-items: center;
}
.div-optionsrow2 {
    background: #3498db;
}
.div-optionsrow2 h1,
.div-optionsrow1 h1 {
    font-weight: bold;
    font-weight: 900;
    font-size: 70px;
    width: 70%;
    text-align: center;
}
.div-optionsrow1 a,
.div-optionsrow2 a {
    background: #3498db;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-weight: 900;
    color: white;
    font-size: 19px;
    margin-top: 40px;
    transition: .5s all ease-in-out;
}
.div-optionsrow2 a {background: #2980b9;}
.div-optionsrow1 a:hover,
.div-optionsrow2 a:hover {
    transition: .5s all ease-in-out;
    border-radius: 20px;
    text-decoration: none;
}
/*container4*/
.div-container4-ld-soportica {
    display: flex;
}
.div-row2-ld {
    background: #f2f2f2;
    height: 100vh;
    width: 100%;
}
/*galeria*/
.div-header-galeria {
    background: #dadada;
    height: 250px;
    display: flex;
    justify-content: center;
    color: white;
    width: 100%;
    position: relative;
    box-shadow: 0 10px 20px #DADBE1, 0 5px 5px #FAFBFC;
}
.div-text-gallery {
    display: flex;
    padding: 15px;
}
.h1-gallery-1 {
    color: #555;
    font-size: 45px;
    font-family: 'Open sans';
}
.h1-gallery-2 {
    margin-left: 15px;
    color: #555;
    font-weight: bold;
    font-weight: 900;
    font-family: 'Roboto';
    font-size: 45px;
}
/*fotosgaleria*/
.div-galery-1 {
    background: white;
    height: 500px;
    margin-top: -70px;
    width: 25%;
    text-align: center;
    text-align: justify;
}
.div-galery-1 h3 {
    color: #006972;
    text-align: center;
    font-size: 4vh;
}
.div-text h1 {
    color: black;
    font-family: 'Open sans';
    font-size: 5vh;
    font-weight: bold;
    font-weight: 1000;
}
.div-bodygallery {
    display: flex;
}
.div-galery-2 {
    background: silver;
    height: 350px;
    margin-top: -70px;
    width: 25%;
    background-image: url('../images/projects/project01.jpg');
    background-size: cover;
    background-position: center;
    transition: .5s all;
    overflow: hidden;
    position: relative;
}
.div-efect-hover-gallery {
    margin-top: -70px;
    background: black;
    height: 350px;
    bottom: 0;
    width: 100%;
    position: absolute;
    transform: translateY(100%);
}
.div-efect-hover-gallery:hover,
.p-effect {
    transform: translateY(0%);
    z-index: 5;
}
.div-galery-3 {
    background: silver;
    height: 350px;
    margin-top: -70px;
    width: 25%;
    background-image: url('../images/projects/project02.jpg');
    background-size: cover;
    background-position: center;
    transition: .5s all;
}
.div-galery-4 {
    background: silver;
    height: 350px;
    margin-top: -70px;
    width: 25%;
    background-image: url('../images/projects/project03.jpg');
    background-size: cover;
    background-position: center;
    transition: .5s all;
}
.div-galery2-1 {
    background: silver;
    height: 350px;
    margin-top: -70px;
    width: 25%;
    background-image: url('../images/projects/project04.jpg');
    background-size: cover;
    background-position: center;
    transition: .5s all;
}
.div-galery2-2 {
    background: silver;
    height: 350px;
    margin-top: -150px;
    width: 25%;
    background-image: url('../images/projects/project05.jpg');
    background-size: cover;
    background-position: center;
    transition: .5s all;
}
.div-galery2-3 {
    background: silver;
    height: 500px;
    margin-top: -150px;
    width: 25%;
    background-image: url('../images/projects/project06.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    transition: .5s all;
}
.div-galery2-4 {
    background: silver;
    height: 350px;
    margin-top: -150px;
    width: 25%;
    background-image: url('../images/projects/project07.jpg');
    background-size: cover;
    background-position: center;
    transition: .5s all;
}
/*gallery3*/
.div-galery3-1 {
    background: silver;
    height: 500px;
    margin-top: -150px;
    width: 25%;
    background-image: url('../images/projects/project08.jpg');
    background-size: cover;
    background-position: center;
    transition: .5s all;
}
.div-galery3-2 {
    background: silver;
    height: 500px;
    margin-top: -150px;
    width: 25%;
    background-image: url('../images/projects/project09.jpg');
    background-size: cover;
    background-position: center;
    transition: .5s all;
}
.div-galery3-3 {
    background: silver;
    height: 350px;
    width: 25%;
    background-image: url('../images/projects/project10.jpg');
    background-size: cover;
    background-position: center;
    transition: .5s all;
}
.div-galery3-4 {
    background: silver;
    height: 500px;
    margin-top: -150px;
    width: 25%;
    background-image: url('../images/projects/project11.jpg');
    background-size: cover;
    background-position: center;
    transition: .5s all;
}
/*fingaleria*/
/*foooter inicio*/
.div-footer {
    height: 300px;
    background: #ff9800;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    font-weight: 700;
    width: 100%;
    margin-top: 170px;
}
.div-father-fo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div-father-fo h1 {
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    font-weight: 900;
}
.div-fa-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-h2-fo {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.div-h2-fo i {
    margin-right: 10px;
}
.div-social-networks {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    padding-top: 20px;
}
.div-social-networks a {
    color: white;
}
.fa-linkedin,
.fa-facebook,
.fa-twitter,
.fa-youtube,
.fa-instagram {
    margin-bottom: 15px;
    transition: .5s all;
}
.fa-linkedin:hover,
.fa-facebook:hover,
.fa-twitter:hover,
.fa-youtube:hover,
.fa-instagram:hover {
    transition: .5s all;
    color: pink;
    transition: .5s all;
    transform: translateZ(-100em);
    transform: scale(1.5) translateY(-0.20em);
}
/*foooter fin*/
/*menu hamburgesa*/
.div-menufixed-mobile {
    background: #f2f2f2;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    transition: .5s all ease-out;
}
.div-menufixed-mobile i {
    color: #a8acb8;
}

.div-menufixed-mobile i:hover {
    color: black;
    transition: .5s all ease-out;
}
.open .div-rayita1,
.open .div-rayita3 {
    background-color: red;
}
.div-rayita1,
.div-rayita3 {
    width: 80%;
    height: 4px;
    background: white;
    margin-bottom: 12px;
}
.div-rayita2 {
    width: 60%;
    margin-right: 20%;
    height: 4px;
    background: white;
    margin-bottom: 12px;
    transition: .4s all;
    transform: 0;
}
.div-rayita2:hover {
    width: 80%;
    transition: .4s all;
    margin-left: 20%;
    background: black;
}
/*menuactive*/
.div-menu-active {
    position: absolute;
    width: 100%;
    background: #1565C0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    left: -100%;
    z-index: 1;
}
.h1-options {
    color: white;
    font-size: 6vh;
    border-bottom: 2px solid white;
    margin-bottom: 20px;
}
.div-menu-active a {
    color: white;
    text-decoration: none;
}
.div-menu-active a:hover {text-decoration: none;}
/*modules aboutus soportica*/
.div-rowaboutus1 {
    background-attachment: fixed;
    background: #ebebeb;
    height: 89.9vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div-rowaboutus1 h1 {
    font-family: 'Roboto';
    color: #555;
    font-size: 7vh;
    font-weight: bold;
    font-weight: 1000;
    margin-bottom: 35px;
}
.div-rowaboutus1 p {
    width: 80%;
    color: rgb(107, 107, 107);
    text-align: left;
    font-family: 'Roboto';
    font-size: 18px;
}
.div-rowaboutus2 {
    background-image: url('http://www.soportica.com.co/uploads/cabezotes/cabezote_servicios.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 89.9vh;
}
.div-fatherwokaboutus {
    margin-top: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.div-fatherwokaboutus h3 {
    width: 50%;
    color: rgb(107, 107, 107);
    font-weight: bold;
    font-weight: 1000;
    font-family: 'Roboto';
}
.div-fatherwokaboutus a {
    height: 50px;
    background: #ff9800;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    font-weight: bold;
    font-weight: 900;
    transition: .5s all ease-out;
}
.div-fatherwokaboutus a:hover {
    transition: .5s all ease-out;
    background: none;
    border: 3px solid #ff9800;
    color: #ff9800;
    text-decoration: none;
}
/*module services soportica*/
.div-content-services {
    width: 100%;
    height: auto;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div-target-facility,
.div-target-management,
.div-target-interventory,
.div-target-supervision,
.div-target-designSus {
    background: none;
    width: 80%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
.div-facility-text,
.div-management-text,
.div-interventory-text,
.div-supervision-text,
.div-designSus-text {
    background: #2980b9;
    height: 600px;
    width: 40%;
    display: flex;
    justify-content: center;
    padding-left: 40px;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    position: absolute;
    margin-left: -150px;
}
.div-designSus-text {
    margin-left: 2%;
    margin-top: 100px;
}
.div-interventory-text {
    margin: 0;
    background: #27ae60;
}
.div-supervision-text {background: #e74c3c;}
/*  */
.div-management-text {background: #8e44ad;}
/*  */
.div-facility-text h1,
.div-management-text h1,
.div-interventory-text h1,
.div-supervision-text h1,
.div-designSus-text h1 {
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    font-weight: 900;
    font-size: 55px;
}
.div-supervision-text h1,.div-designSus-text h1 {width: 80%;}
/*  */
.div-facility-text h3,
.div-management-text h3,
.div-interventory-text h3,
.div-supervision-text h3,
.div-designSus-text h3 {
    font-family: 'Open sans';
    font-size: 20px;
    width: 80%;
}
.div-designSus-text h3 {width: 70%;}
/*  */
.div-empty-facility,
.div-empty-mangement,
.div-empty-interventory,
.div-empty-supervision,
.div-empty-designSus {
    width: 40%;
    height: 550px;
    background-image: url('../images/projects/project11.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    margin-left: 50%;
    margin-top: 15%;
}
.div-empty-mangement {
    margin-left: 55%;
    margin-top: 10%;
    background-image: url('../images/projects/project10.jpg');
}
.div-empty-interventory {
    margin-left: 65%;
    background-image: url('../images/projects/project08.jpg');
}
.div-empty-supervision {
    background-image: url('../images/projects/project02.jpg');
}
.div-empty-designSus {
    margin-left: 62%;
    background-image: url('../images/projects/project03.jpg');
    margin-top: 350px;
}
/* management */
/*animationleft*/
@keyframes bounceInLeft {
    from,
    60%,
    75%,
    90%,
    to {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
    0% {opacity: 0;transform: translate3d(-3000px, 0, 0);}
    60% {opacity: 1;transform: translate3d(25px, 0, 0);}
    75% {transform: translate3d(-10px, 0, 0);}
    90% {transform: translate3d(5px, 0, 0);}
    to {transform: none;}
}
/*finanimationleft*/
/*animationright*/
@keyframes bounceInRight {
    from,
    60%,
    75%,
    90%,
    to {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);}
    from {opacity: 0;transform: translate3d(3000px, 0, 0);}
    60% {opacity: 1;transform: translate3d(-25px, 0, 0);}
    75% {transform: translate3d(10px, 0, 0);}
    90% {transform: translate3d(-5px, 0, 0);}
    to {transform: none;}
}
/* modules--form--work */
.div-form-work {
    display: flex;
    width: 100%;
    background: #ffffff;
    height: 713px;
}
.div-column-form {
    width: 30%;
    height: 713px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form-workus {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div-dates-ofuser {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div-info-easy {
    width: 100%;
    display: flex;
}
.div-info-easy input {
    margin: 15px;
}
.label-easy {
    width: 100%;
    color: silver;
    margin-left: 15%;
    margin-top: 20px;
}
.label-work,
.label-work2 {
    margin-right: 60%;
    color: silver;
    font-family: 'Roboto';
    font-weight: bold;
    font-weight: 900;
}
.label-work2 {
    margin-right: 68%;
    margin-top: 20px;
}
.form-workus input {
    width: 90%;
    background: none;
    border: none;
    height: 40px;
    border-bottom: 2px solid silver;
    margin-top: 25px;
    padding-left: 15px;
    transition: .5s all ease-in-out;
}
.form-workus input:focus {
    border-bottom: 2px solid #2a6dfc;
    transition: .5s all ease-in-out;
}
.form-workus button {
    width: 90%;
    background: #2a6dfc;
    height: 45px;
    border: none;
    color: white;
    margin-top: 40px;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: bold;
    font-weight: 900;
}
.div-column2-work {
    background-color: silver;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("../images/innovate.jpg");
    background-size: cover;
    background-position: center;
    width: 70%;
}
.div-column2-work h1 {
    font-weight: bold;
    font-weight: 900;
    color: white;
    font-family: 'Roboto';
    font-size: 60px;
}
.div-column2-work p {
    font-family: 'Open sans';
    font-size: 20px;
    width: 80%;
    color: white;
}
.div-father-inputs-work {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/*Customer modules*/
.div-text-customers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    flex-direction: column;
}
.div-text-customers h1 {
    font-size: 70px;
    font-weight: bold;
    font-weight: 900;
    font-family: 'Roboto';
    color: #222;
    transition: .5s ease-out;
}
.div-father-customers {
    display: flex;
    justify-content: center;
    position: absolute;
    background: #ecf0f1;
    padding: 30px;
}
.div-customer1:hover,
.div-customer2:hover,
.div-customer3:hover,
.div-customer4:hover,
.div-customer5:hover,
.div-customer6:hover {
    transition: .5s all ease-out;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.div-customer1,
.div-customer2,
.div-customer3,
.div-customer4,
.div-customer5,
.div-customer6,
.div-customer7 {
    height: 300px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s all ease-out;
    background: #fff;
}
.div-customer2 {
    margin: 15px;
    height: 300px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.div-customer3 {
    height: 300px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-customer4 {
    height: 300px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-customer5 {
    position: relative;
    height: 300px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-customer6 {
    height: 300px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*contact module*/
.div-fa-contact {
    display: flex;
    width: 100%
}
.div-row1contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #EDEDED;
    width: 100%;
}
.div-row1contact h1 {
    font-size: 6vh;
    font-weight: bold;
    font-weight: 900;
    font-family: 'Roboto';
}
.form-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div-line {
    border-bottom: 3px solid #ff9800;
    margin-bottom: 20px;
}
.form-contact input {
    background: none;
    height: 50px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid silver;
    margin-bottom: 10px;
    transition: .5s all ease-out;
    margin: 5px;
    margin-top: 15px;
}
.form-contact input:focus {
    background: none;
    border-bottom: 2px solid #006972;
    transition: .5s all ease-out;
}
.form-contact p {
    color: #333;
    font-size: 15px;
    font-family: 'Roboto';
    font-weight: bold;
}
.form-contact textarea {
    background: none;
    height: 50px;
    font-size: 18px;
    border: none;
    border-bottom: 2px solid silver;
    margin-bottom: 10px;
    transition: .5s all ease-out;
    margin: 5px;
    margin-top: 15px;
}
.div-fa-buttoncontact {
    width: 100%;
}
.div-fa-buttoncontact button,
.btn-working-contact {
    height: 45px;
    background: #006972;
    border: tomato;
    font-size: 18px;
    font-weight: bold;
    font-weight: 900;
    color: white;
    transition: .5s all;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-working-contact {
    background: #ff9800;
}
.div-fa-buttoncontact button:hover,
.btn-working-contact:hover {
    background: none;
    border: 3px solid #006972;
    color: #006972;
    text-decoration: none;
}
.div-row1contact,
.div-row2contanct {
    height: 714px;
    width: 50%;
}
.div-row2contanct {
    background-image: url("https://static.pexels.com/photos/7075/people-office-group-team.jpg");
    height: 714px;
    background-size: cover;
    background-position: center;
}
.div-trasparent-contact {
    background: black;
    height: 714px;
    opacity: 0.3;
}
/*facility module*/
.div-rowfc1,
.div-rowfc2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 87.9vh;
}
.div-rowfc2 {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*estilosmenu*/
/* dashboard module */
.div-module-dash {
    background: #3498db;
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-module-dash h1 {
    color: white;
    font-family: 'Roboto';
    font-weight: bold;
    font-weight: 900;
    font-size: 50px;
}
.fa fa-cloud {
    color: #ecf0f1;
}
.div-module-dash form {
    width: 40%;
    background: #2980b9;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}
.div-module-dash button {
    background: #3498db;
    border: none;
    width: 35%;
    height: 45px;
    color: white;
    margin-top: 50px;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 900;
    font-weight: bold;
}
.div-father-in-dash {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.div-father-in-dash input {
    width: 70%;
    background: #3498db;
    border: none;
    height: 45px;
    font-weight: bold;
    font-weight: 900;
    padding: 10px;
    font-family: 'Roboto';
    color: white;
    transition: .5s all ease-in-out;
}
.div-father-in-dash input:focus {
    background: none;
    border-bottom: 3px solid #fff;
    transition: .5s all ease-in-out;
}
.div-father-in-dash label {
    width: 70%;
    color: white;
    font-weight: bold;
    font-weight: 900;
    font-family: 'Roboto';
    margin-top: 20px;
}
/* module form claims */
.div-empty-claims,
.div-empty-claims2 {
    background: #8e44ad;
    width: 100%;
    height: 50vh;
}
.div-empty-claims2 {
    background: #9b59b6;
}
.div-form-claims {
    background: #ecf0f1;
    position: absolute;
    width: 40%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    animation: form 1s;
    transition: .5s all;
    bottom:50px;
    overflow: hidden;
}
.div-form-claims input {
    background: rgb(214, 214, 214);
    width: 100%;
    border: none;
    height: 40px;
    padding: 10px;
    transition: .5s all ease-in-out;
}
.div-form-claims input:focus {
    background: none;
    border-bottom: 3px solid silver;
    transition: .5s all ease-in-out;
}
.div-father-claims label {
    color: #222;
    font-weight: bold 900;
    margin-top: 15px;
    font-family: 'Roboto';
    margin-right: 90%;
}
.div-father-claims,
.div-form-claims form {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.div-form-claims button {
    background: #8e44ad;
    height: 45px;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    width: 35%;
    font-family: 'Roboto';
}
.div-form-claims h1 {
    color: #777;
    font-weight: bold;
    font-family: 'Roboto';
    font-size: 40px;
}

/* keyframes */

@keyframes form{
    from{
        bottom: -100%;
        transition: .5s all;
    }
}


/*responsive*/

@media (max-width:1200px) {
    .seguidor,
    .bolita1,
    .bolita2,
    .div-contenedor5-ld-soportica img,
    .div-img-adm,
    .h1-insoportica,
    .div-offices,
    .menu-fixed,
    .div-row1-ld,
    .div-project-2-delete {
        display: none;
    }
    /* content1 */
    .div-content1 {
        width: 100%;
        flex-direction: column;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }
    .div-text-content {
        margin-top: -50px;
        margin-left: 0;
        margin-bottom: 70px;
    }
    .div-father-text h1,
    {
        font-size: 35px;
    }
    /*  */
    /* content2 */
    .div-content2 {
        height: auto;
        width: 100%;
    }
    .div-father-content2 {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        background: none;
    }
    .div-row-content {
        display: none;
    }
    .div-row-content1 {
        width: 100%;
        height: auto;
        padding-bottom: 100px;
        margin-bottom: 50px;
    }
    .a-knowmore-content2 {
        margin-bottom: 35px;
    }
    .div-services-content {
        display: none;
    }
    /*  */
    /* content3 */
    .div-content3 {
        display: none;
    }
    /*  */
    /* content4 */
    .div-content4 {
        margin: 0;
        width: 100%;
        height: auto;
        display: none;
    }
    .div-father-content4 {
        flex-direction: column;
        width: 100%;
    }
    .div-son-1-content4,
    .div-son-2-content4 {
        width: 100%;
        height: auto;
    }
    .div-son-2-content4 {
        margin-bottom: 25px;
    }
    /*  */
    /* newsletter-responsive */
    .div-imagen-new,
    .div-row-news-2 {
        display: none;
    }
    .div-new-letter {
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .div-row-news {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-bottom: 30px;
    }
    .div-labels {
        width: 10%;
        margin: 0;
    }
    .div-inputs,
    .div-inputs input {
        width: 90%;
        flex-direction: column;
        margin: 0;
        margin-bottom: 15px;
    }
    /*  */
    /*footer*/
    .div-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        padding: 15px;
        width: 100%;
    }
    /*gallery*/
    .div-bodygallery,
    .div-header-galeria,
    .div-rowaboutus2 {
        display: none;
    }
    .div-social-networks {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*formwork*/
    .div-rowformwork2 h1 {
        margin-bottom: 155px;
    }
    .div-rowformwork2 button {
        margin-top: 75px;
        margin-bottom: 20px;
    }
    /*aboutus*/
    .div-rowaboutus1 h1 {
        margin-top: 75px;
    }
    .p-class {
        display: none;
    }
    .div-rowaboutus1 {
        height: 700px;
        text-align: center;
        margin: 0;
    }
    .div-rowaboutus p {
        width: 100%;
    }
    .a-item {
        margin-bottom: 15px;
        width: 100%;
    }
    .div-fatherwokaboutus {
        width: 100%;
    }
    .div-fatherwokaboutus h3 {
        text-align: center;
    }
    /* services responsive */
    .div-fatherwokaboutus,
    .div-fatherservices {
        flex-direction: column;
    }
    .div-content-services {
        height: size;
        padding-bottom: 150px;
        width: 100%;
        margin: 0;
    }
    .div-facility-text,
    .div-management-text,
    .div-interventory-text,
    .div-target-facility,
    .div-target-management,
    .div-target-interventory,
    .div-target-supervision,
    .div-supervision-text,
    .div-target-designSus,
    .div-designSus-text {
        width: 100%;
        margin: 0;
    }
    .div-empty-facility,
    .div-empty-mangement,
    .div-empty-interventory,
    .div-empty-supervision,
    .div-empty-designSus {
        display: none;
    }
    /*customers*/
    .div-text-customers h1 {
        margin-top: 70px;
    }
    .div-father-customers {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    /*contact*/
    .div-fa-contact {
        flex-direction: column;
    }
    .div-row2contanct {
        display: none;
    }
    .div-row1contact,
    .div-row2contact {
        width: 100%;
        height: 100vh;
    }
    .btn-working-contact {
        display: none;
    }
    .div-father-news {
        flex-direction: column;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }
    .div-father-news div {
        display: none;
    }
    .div-button-new button,
    .div-button-new {
        width: 100%;
    }
    .header-app {
        display: none;
    }
    /* formwork */
    .div-form-work {
        flex-direction: column;
        width: 100%;
        height: auto;
        margin: 0;
    }
    .div-column-form {
        width: 90%;
    }
    .div-column2-work {
        width: 100%;
        height: auto;
        padding-bottom: 70px;
    }
    /* projects responsive */
    .div-optionsrow2 {
        width: 100%;
    }
    .div-optionsrow2 h1,
    .div-optionsrow1 h1 {
        font-size: 40px;
    }
    /* dashboard responsive */
    .div-module-dash form {
        width: 100%;
        height: 100vh;
    }
    /* modules claims */
    .div-father-claims,
    .div-form-claims {
        width: 100%;
        margin: 0;
        position: relative;
        background: #9b59b6;
        color: white;
    }
    .div-form-claims h1 {
        color: white;
    }
    .div-empty-claims,
    .div-empty-claims2 {
        display: none;
    }
}
/*menuresponsive*/
@media (min-width:1200px) {.div-menufixed-mobile {display: none;}}